extends layout
block content
  link(rel="stylesheet", href="/stylesheets/cms.css")
  - if (titles)
    div.ul
      h1 公告备份
      ul
        li#cms-title
          div
            span 日期
            span 编号
            | 标题
        - for (var t in titles) {
        li(class=t % 2 ? "even" : "odd")
          a(href=server + '/' + titles[t].id)
            div 
              span.cms-date #{titles[t].id.substring(0,2)}/#{titles[t].id.substring(2,4)} 
              span.cms-no #{titles[t].id.substring(5)} 
              | #{titles[t].title}
        - }