extends layout
mixin equip-top
  #equip-top
    h3 编辑基本数据
    #equip-series
      | 系列 [ 
      div#selector-container(@click.stop='toggleSelector')
        img(v-if='selectedSeries', :src='selectedSeries')
        ul#series-selector
          - for (let i = 0; i < 46; i++) {
          -   let prefix = '/images/icons/Series/Series';
          -   if (i < 10) prefix += '0';
          -   let src = prefix + i + '.png';
          li 
            input(type='radio', value=src, v-model='selectedSeries', id='series-#{i}')
            label(for='series-#{i}', @click='hideSelector')
              img(src=src)
          - }
      | &nbsp; ]
    p(v-for='(item, key) in equip.top', :id='"equip-" + key')
      span {{ item.name }} :
      input(v-model='item.value',
            :type='item.name == "装备名" ? "text" : "number"')
    input#awaken-checkbox(type="checkbox", name="awaken", v-model='equip.awaken')
    label(for='awaken-checkbox') 觉醒

mixin equip-status
  #equip-status
    #equip-status-left
      p#equip-status-level
        | {{ 'LV.' + equip.top.level.value }} 
        | {{ '最大LV.' + (equip.top.stars.value > 5 ? 99 : 50) }}
      p#equip-status-love
        span {{ equip.top.love.name }} 
        | {{ equip.top.love.value >= (equip.awaken ? 99 : 50) ?
        | '最高' : (equip.top.love.value || '0') + '/' +
        | (equip.awaken ? 99 : 50) }}
      p#equip-status-weight
        span {{ equip.top.weight.name }} 
        | {{ equip.top.weight.value }}
      p#equip-status-adds.buff(v-if='equip.top.adds.value != 0')
        span {{ equip.top.adds.name }} 
        | {{ '+' + equip.top.adds.value }}
    #equip-status-right(v-if='selectedType && (selectedType != "徽章" || (allAdds && addon["移速"]))')
      p(:class='(selectedType == "徽章" || selectedType == "服装" ? "normal" : "buff")')
        | {{ selectedType == "徽章" ? "追加属性" : selectedType }}
      p(v-if='selectedType', v-for='(val, key) in equipType[selectedType]')
        span(v-if='selectedType == "徽章"') {{ key + ' + ' }}
        span(v-else) {{ key }} 
        span(v-if='addon[key]', :class='(allAdds ? "buff" : "normal")') {{ computedValue(val, key) }}
        span(v-else-if='key && key != "移速" && key != "攻　速" && key != "射　速"', class='normal') {{ val }}
        span(v-else-if='key && key != "移速"') {{ val + ' / 秒' }}
        span(v-else-if='key') {{ val + '%' }}
        span(v-if='selectedType == "徽章"') %
    #equip-awaken-widget(v-if='equip.awaken')
      img#awaken-image(src='/images/awaken-widget.png')

mixin equip-main
  #equip-main
    #background-container
      img#mid-top.fast-rotate(src='/images/ring-mid-top.png')
      img#left-bottom.slow-rotate(src='/images/ring-left-bot.png')
      img#right-top.fast-rotate(src='/images/ring-right-top.png')
      img#right-bottom.slow-rotate(src='/images/ring-right-bot.png')
    #top-banner
      #user-banner
        #user-image
        #user-detail
          p#user-top
            span#user-level LV.{{ user.level.value }}
            span#user-name {{ user.name.value | username }}
          br
          p#user-bottom
            span#user-coin {{ user.coin.value | formatNumber }}
            span#user-crystal {{ user.crystal.value | formatNumber }}
      #system-banner
        img(src='/images/system-bar.png')
    #equip-banner
      p
        span#equip-banner-serial 编号 {{ equip.top.serial.value | serialNumber }} 
        span#equip-banner-img
          img(v-if='selectedSeries', :src='selectedSeries')
        span#equip-banner-name {{ equip.top.name.value | name }} 
        img#equip-type-view(v-if='equip.dmgType != "none"', :src='dmgTypeSrc(equip.dmgType)')
        #equip-stars-container
          img(v-for='s in (Number(equip.top.stars.value) > 10 ? 10 : (Number(equip.top.stars.value) < 1 ? 1 : Number(equip.top.stars.value)))',
              src='/images/star-full.png')
    #equip-view
      #equip-view-left
        #equip-image-container
          #equip-basic-image
            img(v-if='!pinImage.exist', src='/images/base-pin.png', :style='imageStyleObject')
            img(v-else, :src='pinImage.src', :style='imageStyleObject')
            img#pin-container(:src='pinContainerSrc', v-show='widgets.pinContainer')
        #equip-unique-container
          p.buff(v-show='widgets.unique',
                :class='(equip.awaken && widgets.awakenImage) ? "awaken-bg" : ""')
                | {{ texts.unique }}
        #equip-protect-container
          img(v-show='widgets.protectButton', src='/images/protect-button.png')
      #equip-view-right
        +equip-status
        #equip-skill
          .skill(v-for='(skill, index) in equip.skills', :id='"skill-" + index',
                 :class='Number(skill.break) ? "allow-blue" : "disable-blue"')
            .title-line
              img.skill-type-view(v-if='skill.dmgType && skill.dmgType != "none"', :src='dmgTypeSrc(skill.dmgType)')
              span.skill-name.buff(:id='"skill-name-" + index') {{ skill.name | name }}
              span.skill-break(v-if='Number(skill.break)')
                img(v-for='(k,i) in 10',
                    :src=`i < skill.break ? "/images/break-point-full.png" :
                          "/images/break-point-empty.png"`)
            .cutoff-line
            .desc-line
              p.skill-desc(:id='"skill-desc-" + index', v-html='descHTML[index]')

mixin equip-type
  #equip-type
    h3 编辑装备分类
    p
      span 装备分类 
      select(v-model='selectedType')
        option(value='') 选择装备分类
        option(v-for='(item, key) in equipType') {{ key }}
    p(v-if='selectedType', v-for='(item, key, index) in equipType[selectedType]')
      span {{ key }} 
      input(v-model='equipType[selectedType][key]', v-if='selectedType != "徽章"')
      input(type="radio", :value='key', v-model='addType', :id='"type-"+key')
      label(:for='"type-"+key') 亲密度加成
    #equip-dmg-type(v-if='selectedType && selectedType != "服装" && selectedType != "徽章"')
      p 伤害类型
        select(v-model='equip.dmgType')
          option(v-for='(value, key) in dmgType', :value='key') {{ value }}
        img.skill-type(v-if='equip.dmgType && equip.dmgType != "none"', :src='dmgTypeSrc(equip.dmgType)')


block content
  link(rel="stylesheet", href="/stylesheets/animation.css")
  link(rel="stylesheet", href="/stylesheets/equip.css")
  #loading-page
    #loading-ring.loading-rotate
  #app(style='display: none')
    #left
      #user
        h3 编辑角色信息
        p(v-for='item in user')
          span {{ item.name }}
          input(v-model='item.value', :type='item.name == "昵称" ? "text" : "number"')
      #upload-image
        h3 编辑装备图片
        p#pin-container-switch
          input#show-pin-container(type='checkbox', v-model='widgets.pinContainer')
          label(for='show-pin-container') 显示徽章框
          br
          input#show-unique(type='checkbox', v-model='widgets.unique')
          label(for="show-unique") 显示装备提示
          br
          input#unique-text(type='text', v-model='texts.unique', :disabled='!widgets.unique')
          br
          input#show-protect-button(type='checkbox', v-model='widgets.protectButton')
          label(for="show-protect-button") 显示解除保护按钮
        input#pin-input(type="file", @change='updatePinImage($event)', accept='image/*')
        br
        input#awaken-ctrl(type='checkbox', v-model='widgets.awakenImage', :disabled='!equip.awaken')
        label(for='awaken-ctrl') 作为觉醒图
        #pin-size-controller
          p#size-ctrl-hint {{ texts.sizeCtrl }}
          input#width-ctrl-range(type='range', min='0', max='100', v-model='imageStyle.width')
          input#width-ctrl-input(type='number', v-model='imageStyle.width')
          label(for='width-ctrl-input') 宽度
          input#height-ctrl-range(type='range', min='0', max='100', v-model='imageStyle.height')
          input#height-ctrl-input(type='number', v-model='imageStyle.height')
          label(for='height-ctrl-input') 高度
          input#left-ctrl-range(type='range', min='-100', max='100', v-model='imageStyle.left')
          input#left-ctrl-input(type='number', v-model='imageStyle.left')
          label(for='left-ctrl-input') 水平移动
          input#top-ctrl-range(type='range', min='-100', max='100', v-model='imageStyle.top')
          input#top-ctrl-input(type='number', v-model='imageStyle.top')
          label(for='top-ctrl-input') 垂直移动
      #download
        button(@click='downloadImage', :disabled='downloading')
          | {{ downloading ? '保存中' :  '保存图片' }}
        p {{ texts.download }}
    #middle
      +equip-main
      #equip-bottom
        h3 编辑装备技能
        #skill-selector-container
          p#skill-selector-title 选择技能个数
          input.skill-selector(type="radio", value=0, v-model='skillsLength')
          label(for="select-skill-1") 0
          input.skill-selector(type="radio", value=1, v-model='skillsLength')
          label(for="select-skill-2") 1
          input.skill-selector(type="radio", value=2, v-model='skillsLength')
          label(for="select-skill-2") 2
          p.skill-tutorial
            em {{ texts.tutorial }}
        #skill-setting-container(v-if='skillsLength')
          .skill-setting(v-for='(skill, index) in equip.skills')
            p
              span 技能名:
              input.skill-input-name(v-model='skill.name')
              span 突破等级:
              input.skill-input-break(v-model='skill.break', type='number')
              span 伤害类型:
              select.skill-dmg-type(v-model='skill.dmgType')
                option(v-for='(value, key) in dmgType', :value='key') {{ value }}
              img.skill-type(v-if='dmgType[skill.dmgType] && skill.dmgType != "none"', :src='dmgTypeSrc(skill.dmgType)')
            p
              span 技能描述:
            textarea.skill-input-description(v-model='skill.description')
    #right
      +equip-top
      +equip-type

  script(src="/javascripts/vue.min.js")
  script(src="/javascripts/html2canvas.min.js")
  script(src="/javascripts/equip.js")