extends layout
block content
  script(src='/dist/js/table-filter.min.js')
  link(rel="stylesheet", href="/dist/css/list.min.css")
  h1 装备 up 记录
  p
    em * 使用 [Ctrl + F] 快捷键搜索装备 *
  //- a#update-link(href = 'list/update') + 添加新记录
  - if (list.length)
  p#selector 蛋池筛选: 
    select(class='table-filter' data-table='order-table')
      option(value='') 全部
      option(value='公主') 公主
      option(value='魔女') 魔女
      option(value='魔法少女') 魔法少女
  p
    em 由于作者十分 
      del 懒惰 
      | 忙碌，这个页面不会再更新了，后续记录请移步 
      a(href='list/auto') [自动版]
  table(class='order-table')
    thead
      tr
        th#date 日期
        th#pool 蛋池
        th(colspan='2').equip 装备
        th(colspan='2').equip 装备
        th(colspan='2').equip 装备
        th(colspan='2').equip 装备
        th(colspan='2').equip 装备
        th(colspan='2').equip 装备
        th#special 备注
    tbody
      - list.forEach(function (item) {
      tr.list-line(id = 'tid' + item.id)
        td.date #{item.date}
        td.pool #{item.pool}
        - item.items.forEach(function (n) {
        td.eid #{n.id}
        td.ename(title = n.lastUp ? '最近 up 时间: ' + n.lastUp : '', class = (n.lastUp == n.startTime || n.lastUp == '' ? '': 'not-latest')) #{n.name}
        - })
        td.special #{item.special}
      - })