extends layout

block content
  link(rel="stylesheet", href="/m/css/mdui.min.css")
  link(rel="stylesheet", href="/m/css/mdui-layout.css")
  link(rel="stylesheet", href="/m/css/illustratev2.css")
  script(src="/m/js/mdui.min.js")
  script(src="/javascripts/vue.min.js")
  script(src="/javascripts/axios.min.js")
  #app
    .mdui-appbar.mdui-appbar-fixed.mdui-app-bar-scroll-hide
      .mdui-toolbar.mdui-color-theme
        a.mdui-btn.mdui-btn-icon.mdui-ripple.mdui-ripple-white(href='/')
          i.mdui-icon.material-icons home
        .mdui-typo-title 装备图鉴
        .mdui-toolbar-spacer
        #search.mdui-textfield.mdui-textfield-expandable.mdui-float-right
          button.mdui-textfield-icon.mdui-btn.mdui-btn-icon
            i.mdui-icon.material-icons search
          input.mdui-textfield-input.mdui-text-color-white(type='text', placeholder="搜索", v-model='searchInput')
          button.mdui-textfield-close.mdui-btn.mdui-btn-icon(@click='searchInput=""')
            i.mdui-icon.material-icons close
        img(src='/images/favicon-r.png')
      .mdui-tab.mdui-color-theme
        a.type.type-all.mdui-ripple.mdui-tab-active( @click='selectTab("all", $event)') 全部
        a.type.mdui-ripple(
          v-for='(value, key) in tabs',
          @click='selectTab(key, $event)'
        ) {{ value }}
      #progress.mdui-progress
        .mdui-progress-indeterminate
    #container.mdui-card.mdui-container.mdui-m-y-4.hide
      .mdui-row
        a.item.mdui-ripple.mdui-col-xs-6.mdui-col-sm-4.mdui-col-md-3.mdui-col-lg-2.mdui-p-a-1.mdui-p-x-2.mdui-valign(
          v-for='item in itemsInPage',
          @click='showEquipDetail(item.uid, item.title, item.type)'
        )
          img.equip-img.mdui-m-r-1(
            :src='"https://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/" + (item.img < 1000 ? ("000" + item.img).slice(-3) : item.img) + ".png"',
            @error='errorImg',
          )
          p.item-title {{ item.title }}
            br
            img.star(src='../images/star-full.png', v-for='i in parseInt(item.rarity)')
      .mdui-row.mdui-p-y-1.mdui-velign.mdui-text-right
        p.mdui-float-right.mdui-col-xs-12.mdui-col-sm-5.mdui-p-b-1
          | 每页 
          input#item-per-page.mdui-textfield-input(type="number", v-model.number='current.itemPerPage')
          |  条 | 
          | 跳转到 
          select.mdui-select(v-model='current.page')
            option(v-for='i in totalPages', :value='i') {{ i }}
        p.paging.mdui-float-right.mdui-col-xs-12.mdui-col-sm-7.mdui-velign.mdui-text-center
          a.mdui-btn.mdui-ripple.mdui-p-a-1(@click='paging("first")', :disabled='current.page == 1')
            i.mdui-icon.material-icons skip_previous
          a.mdui-btn.mdui-ripple.mdui-p-a-1(@click='paging("pre")', :disabled='current.page == 1')
            i.mdui-icon.material-icons navigate_before
          a.mdui-btn.mdui-ripple.mdui-p-a-1(
            v-for='page in pages',
            :class='{selected: page == current.page, disabled: page == "..."}',
            :disabled='page == current.page || page == "..."',
            @click='paging(page)'
          ) {{ page }}
          a.mdui-btn.mdui-ripple.mdui-p-a-1(@click='paging("next")', :disabled='current.page == totalPages')
            i.mdui-icon.material-icons navigate_next
          a.mdui-btn.mdui-ripple.mdui-p-a-1(@click='paging("last")', :disabled='current.page == totalPages')
            i.mdui-icon.material-icons skip_next
    .mdui-dialog#dialog
      .mdui-dialog-title
        .mdui-dialog-title-header {{ equip.title ? ("图鉴详情：" + equip.title) : "发生错误"}}
      #dialog-content.mdui-dialog-content
        .mdui-container-fluid
          .mdui-row.equip-main-title
            .mdui-col-xs-2.main-img
              img.equip-img(
                :src='"https://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/" + (equip.img < 1000 ? ("000" + equip.img).slice(-3) : equip.img) + ".png"',
                @error='errorImg',
              )
            p.main.gray
              span.equip-id.ml4.mr2 No.{{ equip.id }}
              img.star.mr2(v-if='equip.seriesId', :src='"../images/icons/SeriesNo/" + equip.seriesId + ".png"')
              span.equip-title {{ equip.title }}
            p.main-sub
              span.equip-dmgtype.ml4(v-if='equip.damageType && equip.damageType !== "none"')
                img.star(:src='"../images/icons/Type/" + equip.damageType + ".png"')
              //- span.equip-series(v-if='equip.seriesText') [{{ equip.seriesText }}] &nbsp;
              span.equip-rarity.ml4
                img.star(v-for='i in parseInt(equip.rarity || 0)', src='../images/star-full.png')
            p.mdui-col-xs-12.main-desc.green(v-if='equip.desc') {{ equip.desc }}
            p.mdui-col-xs-12.gray(v-if='isEquip') * {{ '该装备是' + (equip.decompose ? '蛋池装' : '地图装') }} *
          .mdui-row
            template(v-for='(val, key) in equip', v-if='key.includes("prop") || key.includes("kill")')
              .equip-detail.mdui-col-xs-12.mdui-m-t-1
                p.title.green
                  span.title-type(v-if='val.type') [{{ val.type }}] 
                  | {{ val.title }}
                  span.desc-dmgtype.ml4(v-if='val.damageType')
                    img.star(:src='"../images/icons/Type/" + val.damageType + ".png"')
                p.desc(v-if='showDetail', v-html='formatDesc(val.desc)')
                p.maxlv-desc(v-else, v-html='formatDesc(val.maxLvDesc)')
            template(v-else-if='key.startsWith("hp")')
              template(v-if='key.includes("MaxLv")')
                p.mdui-col-xs-6.mdui-col-sm-4(v-if='val !== "" && val !== "0"') {{ keyMap[key] || key }} : 
                  span(v-if='equip.baseType === "放置-诱导" || !equip.baseType') {{ val }}
                  span(v-else) -
              template(v-else-if='showDetail && val !== "" && val != "0"')
                p.mdui-col-xs-6.mdui-col-sm-4(v-if='val !== "" && val !== "0"') {{ keyMap[key] || key }} : 
                  span(v-if='equip.baseType === "放置-诱导" || !equip.baseType') {{ val }}
                  span(v-else) -
            template(v-else-if='key.includes("Base") || key.includes("Add")')
              p.mdui-col-xs-6.mdui-col-sm-4(v-if='showDetail && val !== "" && val != "0"') {{ keyMap[key] || key }} ： 
                span {{ val }}
            template(v-else-if='key === "posterId"')
              .mdui-col-xs-12.awaken-img-container.mdui-m-t-1(v-if='val !== "" && val != "0"')
                p.green 觉醒图：
                img.awaken-img(
                  :src='"https://api-1256168079.cos.ap-chengdu.myqcloud.com/images/awaken/" + (1000 + parseInt(val)) + ".png"',
                  @error='errorAwakenImg(val, $event)'
                )
            template(v-else-if='key === "decomposeEquip"')
              .mdui-col-xs-12.mdui-m-t-1
                p.green 拆解后回收装备：
                img.equip-decompose-img(
                  :src='"https://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/" + (equip[key].img < 1000 ? ("000" + equip[key].img).slice(-3) : equip[key].img) + ".png"',
                  @error='errorImg',
                )
                span.mdui-m-l-1 {{ equip[key].title }}
            template(v-else-if='key === "characters"', v-show='equip[key].length > 0')
              .mdui-col-xs-12.mdui-m-t-1
                p.green 特性：
                .characters
                  .character(v-for='chara in equip[key]')
                    span.green.mdui-m-r-1 {{ chara.name }}
                    span {{ chara.skill.desc }} ( 
                      span.blue(v-for='val in chara.skill.props') {{ percentage(val) }} 
                      | )
            template(v-else-if='key === "evolveFormula"')
              .mdui-col-xs-12.mdui-m-t-1
                p.green(v-if='equip[key].output.length') 进化至此装备：
                .evolves-output.mdui-m-l-1(v-for='put in equip[key].output')
                  .from
                    img(
                      :src='"https://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/" + (put.inputEquip < 1000 ? ("000" + put.inputEquip).slice(-3) : put.inputEquip) + ".png"',
                      @error='errorImg',
                    )
                    i.mdui-icon.material-icons add
                  .material(v-for='img in put.materials')
                    img(
                      :src='"https://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/" + (img < 1000 ? ("000" + img).slice(-3) : img) + ".png"',
                      @error='errorImg',
                    )
                  .to
                    i.mdui-icon.material-icons arrow_forward
                    img(
                      :src='"https://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/" + (put.outputEquip < 1000 ? ("000" + put.outputEquip).slice(-3) : put.outputEquip) + ".png"',
                      @error='errorImg',
                    )
                p.green(v-if='equip[key].input.length') 此装备可进化：
                .evolves-input.mdui-m-l-1(v-for='put in equip[key].input')
                  .from
                    img(
                      :src='"https://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/" + (put.inputEquip < 1000 ? ("000" + put.inputEquip).slice(-3) : put.inputEquip) + ".png"',
                      @error='errorImg',
                    )
                    i.mdui-icon.material-icons add
                  .material(v-for='img in put.materials')
                    img(
                      :src='"https://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/" + (img < 1000 ? ("000" + img).slice(-3) : img) + ".png"',
                      @error='errorImg',
                    )
                  .to
                    i.mdui-icon.material-icons arrow_forward
                    img(
                      :src='"https://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/" + (put.outputEquip < 1000 ? ("000" + put.outputEquip).slice(-3) : put.outputEquip) + ".png"',
                      @error='errorImg',
                    )
            template(v-else-if='key === "awakenFormula"')
              .mdui-col-xs-12.mdui-m-t-1
                p.green 觉醒公式：
                .evolves-input.mdui-m-l-1
                  .material(v-for='(img, index) in equip[key]')
                    i.mdui-icon.material-icons(v-if='index > 0') add
                    img(
                      :src='"https://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/" + (img < 1000 ? ("000" + img).slice(-3) : img) + ".png"',
                      @error='errorImg',
                    )
            template(v-else-if='!hideItems.includes(key)')
              p.mdui-col-xs-6.mdui-col-sm-4(v-if='val !== "" && val !== "0"') {{ keyMap[key] || key }} : 
                span(v-if='key.includes("crit")') {{ percentage(val) }}
                span(v-else) {{ val }}
      .mdui-dialog-actions
        .mdui-text-center.mdui-text-color-red 数据仅供参考 , 请以游戏数据为准
        label.mdui-checkbox(for='toggleDetail')
          input(
            type='checkbox',
            id='toggleDetail',
            :value='showDetail',
            v-model='showDetail'
          )
          i.mdui-checkbox-icon
          | 显示细节
        button.mdui-btn.mdui-ripple(mdui-dialog-close)
          i.mdui-icon.material-icons close
    .mdui-dialog#pet-characters
      .mdui-dialog-title
        .mdui-dialog-title-header 使魔特性速查
      .mdui-dialog-content
        .mdui-container-fluid
          .character-description.mdui-typo
            p 选中特性可以筛选包含该特性的使魔，选择多个时只会出现同时包含多个特性的使魔。
          .options
            label.mdui-checkbox.mdui-m-r-2(
              v-for='(i, index) in characterOptions',
              :mdui-tooltip='"{content: \'"+characterAdds[i]+"\'}"'
            )
              input(type='checkbox', :value='i', v-model='characters')
              i.mdui-checkbox-icon
              img.character-icon(:src='"http://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/Type/" + (index + 1) + ".png"')
              | {{ i }}
          .pets.mdui-m-t-2
            .pet-img(v-for='i in filteredPets')
              img(:src='"https://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/" + (i < 1000 ? ("000" + i).slice(-3) : i) + ".png"')
      .mdui-dialog-actions
        .mdui-text-center.mdui-text-color-red
          b 数据仅供参考 , 请以游戏数据为准
        button.mdui-btn.mdui-ripple(mdui-dialog-close)
          i.mdui-icon.material-icons close
    .mdui-dialog#filter
      .mdui-dialog-title
        .mdui-dialog-title-header 神系筛选
      .mdui-dialog-content
        .mdui-container-fluid.filter-content
          //- TODO: add type-filter
          .options.series-options
            label.mdui-checkbox.mdui-m-r-1.mdui-p-l-3(
              v-for='i in seriesMap',
              v-if='i[0] !== 22',
              :mdui-tooltip='"{content: \'"+i[1]+"\'}"'
            )
              input(type='checkbox', :value='i[0]', v-model='seriesFilters')
              i.mdui-checkbox-icon
              img.series-icon(:src='"/images/icons/SeriesNo/" + i[0] + ".png"')
          #filter-spinner.mdui-text-center(style='opacity: 0')
            .mdui-spinner.mdui-spinner-colorful
          .filtered-equips
            .filtered-equip.mdui-ripple(
              v-for='equip in filteredEquips',
              @click='showFilteredEquipDetail(equip)',
            )
              img.filtered-equip-icon(
                :src='"https://static.image.mihoyo.com/hsod2_webview/images/broadcast_top/equip_icon/png/" + (equip.img < 1000 ? ("000" + equip.img).slice(-3) : equip.img) + ".png"',
                @error='errorImg'
              )
              p.filtered-equip-title {{ equip.title }}
      .mdui-dialog-actions
        .mdui-text-center
          b.mdui-text-color-red 数据仅供参考 , 请以游戏数据为准
          p.mdui-text-color-grey
            b 点击装备图标可以查看装备详情
        button.mdui-btn.mdui-ripple(mdui-dialog-close)
          i.mdui-icon.material-icons close
    .mdui-fab-wrapper(mdui-fab='{ trigger: "hover" }')
      button.mdui-fab.mdui-ripple.mdui-color-theme-accent
        i.mdui-icon.material-icons settings
      .mdui-fab-dial
        button.mdui-fab.mdui-fab-mini.mdui-ripple.mdui-color-theme-accent(
          mdui-tooltip='{ content: "使魔特性", position: "left" }',
          @click='showCharacterDialog'
        )
          i.mdui-icon.material-icons filter_none
        button.mdui-fab.mdui-fab-mini.mdui-ripple.mdui-color-theme-accent(
          mdui-tooltip='{ content: "神系筛选", position: "left" }',
          @click='showFilterDialog'
        )
          i.mdui-icon.material-icons filter_list
        button.mdui-fab.mdui-fab-mini.mdui-ripple.mdui-color-theme-accent(@click='backToTop')
          i.mdui-icon.material-icons publish
  script(src="/m/js/illustratev2.js")
